{% extends "template_base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/userHome.css' %}">
{% endblock %}

<!-- <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    .mapa {
      max-height: 50vh;
      max-width: 50vh;
    }

    /* Optional: Makes the sample page fill the window. */
    iframe{
      max-height: 100%;
      max-width: 100%;
      margin: 0;
      padding: 0;
    }
  </style> -->

{% block title %}Home {% endblock %}
{% block content %}

<div class="containers">
  <div class="divNoticiasOpiniones">
    <div class="divNoticias">

    </div>
    <div class="containerOpiniones">

      <div class="containers-btn">
        <button class="tab-button" data-target="opiniones">Opiniones Recientes</button>
      </div>

      <section id="opiniones" class="divOpinionesRecientes seccion">
        
        {% for opinion in opiniones %}
        <div class="tarjetaOpinion">               
            <div class="imgOpinion"><img src="{{ opinion.autor.img_perfil.url }}" alt="" style="width: 50px; height: 50px;"></div>
            <div class="divTituloyopinion">
              <div class="textosOpinion" >
                <p>{{ opinion.titulo }}</p>
              
                 <div id="votacion">
                  <!-- el contenedor que tiene la flasheada de las estrelllitas -->
                  <div class="info">
                    <div class="emoji"></div>
                    <div class="status"></div>
                  </div>
                  <div class="stars">
                    <div class="star" data-rate="5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                        </polygon>
                      </svg>
                    </div>
                    <div class="star" data-rate="4">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                        </polygon>
                      </svg>
                    </div>
                    <div class="star" data-rate="3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                        </polygon>
                      </svg>
                    </div>
                    <div class="star" data-rate="2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                        </polygon>
                      </svg>
                    </div>
                    <div class="star" data-rate="1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                        </polygon>
                      </svg>
                    </div>
                  </div>
          
          

                </div>
                <p>{{ opinion.fecha }}</p>                        
              </div>
              <div class="parrafoOpinion" >
                <p>{{ opinion.contenido }}</p>
              </div>
            </div>
        </div>
        {% endfor %}

    
    </section>
  </div>

  </div>
    
    <section id="localizaciones" class="divLocalizaciones seccion">
        <div>
          <button class="tab-button" data-target="localizaciones">Localizaciones</button>
        </div>
        <div class="listaYmapa">
                <!-- Lista de botones para cada IFTS -->
                <ul class="lista">
                    <li><button class="iftsBtn" type="button" onclick="setLocation(-34.60003829137177, -58.37381593083792)">IFTS N° 1</button></li>
                    <li><button class="iftsBtn" type="button" onclick="setLocation(-34.675541961545036, -58.486718288507994)">IFTS N° 2</button></li>
                    <li><button class="iftsBtn" type="button" onclick="setLocation(-34.57957920383144, -58.434477502528935)">IFTS N° 3</button></li>
                    <li><button class="iftsBtn" type="button" onclick="setLocation(-34.61237656344417, -58.3749644080847)">IFTS N° 12</button></li>
                    <li><button class="iftsBtn" type="button" onclick="setLocation(-34.590747, -58.4174746)">IFTS N° 18</button></li>
                </ul>

            <div id="map">

            </div>
        
        </div>    
    </section>

    
</div>

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/localizacionesScripts.js' %}"></script>
<script src="{% static 'js/maps.js' %}"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZRk7EP-YT7g6TSpnAcKdai5QGzi1VJpw&callback=initMap">
</script>
<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "AIzaSyAZRk7EP-YT7g6TSpnAcKdai5QGzi1VJpw",
    // Add other bootstrap parameters as needed, using camel case.
    // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
  });
</script>





{% endblock %}
