
#map {
    width: 50%;
    border-radius: 20px;
      background-color: lightgray;
      padding: 20px;
}

.lista {
    display: flex;
    flex-direction: column;
   
   margin: auto;
    overflow-y: scroll;
    height: 20vh;
    width: 20%;
    float: left;
    border-radius: 20px;
    list-style: none;
}

.lista ul{
    margin: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 2px;
}
