.opiniones-historicas{
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
    
}

.seccion-tabla-opiniones{ 
   
}

.seccion-opinion-usuario{
    height: 300px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #5ac41d;
    border-radius: 10px;
    background-color: #f8f9fa7a;
    display: flex;
    flex-direction: column;
   
}

.tabla-opiniones{
    width: 100%;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    background-color: #e1ddd7;
}



.seccion-tabla-opiniones th, .seccion-tabla-opiniones td {
    min-width: 120px;
    width: 33.3333%;
    text-align: center;
}



.opinion-usuario{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.titulo-y-Box{
    display: flex;
    flex: 3;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    padding: 15px;
}

.input-tit{
    max-width: 100%;
}

.opinion-box{
    width: 100%;
   min-height: 100px;
    padding: 10px;
    /* border: 1px solid #1d3bc4; */
    border-radius: 10px;
    background-color: #676b6f7a;
}

.calificacion-box{
    width: 40%;
    height: 100%;
    flex: 1;
    padding: 10px;
    border: 1px solid #1d3bc4;
    border-radius: 10px;
    background-color: #f8f9fa7a;
}

.calificacion-y-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}